@{
    ViewBag.Title = "Добавление";
}


<h4>Добавлено в корзину</h4>

<p>
    @Html.ActionLink("Вернуться к товарам", null, null, new { onclick = "window.history.back();" }) |
    @Html.ActionLink("Перейти в корзину", "Index")
</p>
