@model OnlineStore.Models.StoreDB.Category

@{
    ViewBag.Title = "Категория / Детали";
}

<h2>Детали категории</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            Видимость
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
