@model IEnumerable<OnlineStore.Models.StoreDB.Category>

@{
    ViewBag.Title = "Категории товара";
}

<h2>@ViewBag.Title</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @Html.RouteLink(item.CategoryName, new
               {
                   controller = "Goods",
                   action = "Index",
                   genre = item.CategoryName
               })
            </td>
        </tr>
    }

</table>
